.info{
    display: flex;
    justify-content: space-between;
}

.comentario-card{
    background-color: white;
    padding: 1vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 1vw;
}

.fotoPerfil-comentario{
    height: 2vw;
    width: 2vw;
}

.info{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.info img{
    border-radius: 9999999rem;
    object-fit: cover;
}

.comentario-text{
    background-color: #D9D9D9;
    padding: 1vw;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.comentario-input{
    border: 1px solid #0a4725;
    background-color: #D9D9D9;
    padding: 1vw;
    border-radius: 5px;
}

.comentario-button{
    background-color: #0a4725;
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    width: 20%;
    height: 6vh;
    margin-top: 1vw;
}

.editado{
    opacity: 0.5;
}