.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
    gap: 2vw;
}

.container img{
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    background-color: white;
    border-radius: 5px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-color: #71953E;
    width: 50vw;
    border-radius: 5px;
    padding: 1vw;
    color: white;
}

.usuario{
    font-size: 2vw;
    font-weight: bold;
}

.nombre{
    text-align: center;
}

.descripcion{
    background-color: #71953E;
    width: 50vw;
    padding: 1vw;
    border-radius: 5px;
}

.descripcion-title{
    color: white;
}

.descripcion-completa{
    background-color: white;
    padding: 1vw;
    margin-top: 1vw;
    border-radius: 5px;
    white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #71953E;
    width: 50vw;
    padding: 1vw;
    border-radius: 5px;
}