.container{
    display: flex;
}

.container img{
    width: 80vw;
    height: 100vh;
    object-fit: cover;
}

.login{
    background-color: #59762D;
    height: 100vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.514);
}

.login h1{
    font-size: 2.5vw;
    color: white;
}

.login h2{
    font-size: 1.5vw;
    color: white;
    background-color: #71953E;
    width: 20vw;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: normal;
}

.login form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    text-align: left;
}

.login form div{
    display: flex;
    flex-direction: column;
}

.login form div label{
    color: white;
}

.login form div input{
    width: 17vw;
    height: 3.5vh;
    background-color: #71953E;
    border: none;
    color: white;
    padding: 0.3vw;
    padding-left: 1vw;
    border-radius: 5px;
    margin-top: 0.5vw;
}

.login form button{
    margin: 1vw;
    width: 10vw;
    height: 4vh;
    background-color: #71953E;
    color: white;
    border: none;
    border-radius: 5px;
}

.msg{
    opacity: .75;
    text-align: center;
    cursor: pointer;
    color: white;
}