.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.contenedor-graficos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    width: 100vw;
    padding: 1vw;
    gap: 1vw;
    border-radius: 5px;
}

.contenedor-graficos div{
    background-color: rgb(185, 185, 185);
    width: 90%;
    height: 50vh;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-graficos p{
    text-align: center;
    color: white;
}

input{
    width: 20vw;
    height: 4vh;
    background-color: #71953E;
    border: none;
    color: white;
     border-radius: 5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    margin-top: 1vw;
}

button{
    width: 10vw;
    height: 4vh;
    background-color: #71953E;
    border: none;
    color: white;
    border-radius: 5px;
}