.container{
    height: 100vh;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.contenedor-graficos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    width: 100vw;
    height: fit-content;
    padding: 1vw;
    overflow: auto;
}

input{
    width: 20vw;
    height: 4vh;
    background-color: #71953E;
    border: none;
    color: white;
     border-radius: 5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    margin-top: 1vw;
    height: 100vh;
    width: 100vw;
}

button{
    width: 10vw;
    height: 4vh;
    background-color: #71953E;
    border: none;
    color: white;
    border-radius: 5px;
}

.contenedor-graficos div{
    height: fit-content;
}

canvas{
    min-height: 40vh;
}