.container{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 1vw;
}

.ordenamiento{
    background-color: #59762D;
    color: white;
    height: 25vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.ordenamiento-titulo{
    font-size: 1.5vw;
    font-weight: bolder;
}

.ordenamiento button{
    margin-top: 1vw;
    width: 15vw;
    background-color: #71953E;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.post-container{
    background-color: #D9D9D9;
    width: 50vw;
    height: 93vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 40vw;
    padding: 1vw;
    border-radius: 5px;
    gap: 1vw;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.062);
    margin: 1vw;
}

.form textarea{
    width: 95%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding: 0.5vw;
    font-size: 1vw;
    resize: none;
}

.form div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}


.subirPost{
    background-color: #0a4725;
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    width: 10vw;
    height: 6vh;
}

.imgContenido{
    object-fit:contain;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-height: 50vh;
    max-width: 30%;
}

.imgOculto{
    display:none;
}

.imagenes{
    display: flex;
    background-color: #C4C4C4;
    border-radius: 5px;
    width: 39vw;
}
.contenedor-buttons{
    height: 6vh;
}

.contenedor-file{
    position: relative;
    background-color: #0a4725;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    width: 4vw;
    height: 6vh;
}

.contenedor-file input{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.label{
    position: relative;
    font-size: 1.8vw;
    padding-bottom: 0.5vw;
}

.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: #59762D;
    padding: 1vw;
    border-radius: 5px;
    margin-bottom: 1vw;
    color: white;
}

.paginado div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.pageNumber{
    background-color: #71953E;
    padding: 0.5vw;
}

.selectores{
    opacity: 0.5;
    cursor: pointer;
}