.container{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
}

.post-container{
    background-color: #D9D9D9;
    width: 70vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}