.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 40vw;
    padding: 1vw;
    border-radius: 5px;
    gap: 1vw;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.062);
    margin-bottom: 1vw;
}

.container-opened{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    padding: 2vw;
}

.userData{
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date{
    opacity: 0.5;
}

.postContainer{
    background-color: #D9D9D9;
    width: 90%;
    border-radius: 5px;
    padding: 1vw;
}

.postContainer p{
     word-wrap: break-word; /* viejo */
  overflow-wrap: anywhere; /* moderno, recomendado */
}


.imgContenido{
    object-fit:contain;
    max-height: 30vh;
    min-width: 10vw;
}

.imgOculto{
    display:none;
}

.imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.reactionsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
    opacity: 0.5;
}

.reactionsContainer p{
    padding: 0.5vw;
    cursor: pointer;
}

.liked{
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 0.5vw;
}

.comentarios{
    background-color: #D9D9D9;
    width: 90%;
    height: 40vh;
    padding: 1vw;
    border-radius: 5px;
    overflow: auto;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 97.8%;
    padding: 1vw;
    border-radius: 5px;
    gap: 1vw;
    margin-bottom: 1vw;
}

.form textarea{
    width: 95%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding: 0.5vw;
    font-size: 1vw;
    resize: none;
}

.form div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.contenedor-buttons{
    height: 6vh;
}

.subirPost{
    background-color: #0a4725;
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    width: 10vw;
    height: 6vh;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.getMore{
    background-color: #0a4725;
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    width: 80%;
    height: 6vh;
    margin: 1vw;
}