<div class="container">
    <div class="userData">
        <app-user-photo-and-name [data]="post.user"/>
        <p class="date">{{post.createdAt | date: 'dd/MM/yyyy HH:mm'}}</p>
        @if (ownPost) {
            <p (click)="deletePost()">Borrar</p>
        }
    </div>
    <div class="postContainer">
        <p>{{post.text}}</p>
    </div>
    <div class="imagenes">
        <img [ngClass]="post.images[0] !== '' ? 'imgContenido' : 'imgOculto'" [src]="post.images[0]"/>
        <img [ngClass]="post.images[1] !== '' ? 'imgContenido' : 'imgOculto'" [src]="post.images[1]"/>
        <img [ngClass]="post.images[2] !== '' ? 'imgContenido' : 'imgOculto'" [src]="post.images[2]"/>
    </div>
    <div class="reactionsContainer">
        @if (!ownPost) {
            @if(post.liked == true){
                <p (click)="quitarLike()" class="liked">😀 Me Gustó - {{post.likes}}</p>
            }@else {
                <p (click)="darLike()">Me Gusta - {{post.likes}}</p>
            }
        }
        <p>Comentarios</p>
    </div>
</div>